{% load compress %}
{% load static %}
<!--Tailwind compress/static loading-->


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Brenden's Portfolio</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<body class="bg-black font-sans">


<!--icon link-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/dheereshagrwal/colored-icons@master/ci.min.css"
/>


<header id="top" class="relative">

    <img src="{% static 'images/lights.jpg' %}" alt="Seattle background image" class="w-full" style="height: 800px;">

    <div class="absolute inset-0 flex justify-center items-center">
    <div class="bg-black bg-opacity-80 p-36 w-1/2 rounded-3xl">
        <h1 class="text-center text-6xl font-bold text-white animate-drop-down-fade-in">Brenden Moore</h1>
        <p class="text-center text-3xl font-bold opacity-0 text-white animate-drop-down-fade-in-p">| Software Developer |</p>
    </div>
</div>



    <!-- Button in top right corner -->
    <button class="text-white bg-black hover:bg-gray-800 border-2 border-white focus:ring-2 ring-red-400 focus:border-red-400 focus:ring-opacity-100 font-medium rounded-lg text-sm px-5 py-2.5 fixed top-4 right-4" type="button" data-drawer-target="drawer-top-example" data-drawer-show="drawer-top-example" data-drawer-placement="top" aria-controls="drawer-top-example">
    &lt;/&gt;
    </button>

</header>

<p class="text-white text-center pt-6">Picture taken by me at Sensorio Paso in California</p>

<!-- drawer component -->
<section id="drawer-top-example" class="flex justify-center fixed top-0 left-0 right-0 z-40 w-full p-4 transition-transform -translate-y-full bg-black dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-top-label">
    <h5 id="drawer-top-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-4 h-4 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
  </svg></h5>
    <button type="button" data-drawer-hide="drawer-top-example" aria-controls="drawer-top-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center" >
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close menu</span>
   </button>
   <div class="flex space-x-4">
       <p class="text-white bold text-lg top-4 left-4">Menu</p>
       <a href="#about" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-300 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-red-400">About</a>
       <a href="#projects" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-300 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-red-400">Projects</a>
       <a href="#experience" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-300 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-red-400">Experience</a>
       <a href="#contact" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-300 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-red-400">Contact</a>
   </div>
</section>


<!--about-->
<h2 id="about" class="text-2xl font-semibold text-center underline mt-24 text-white pt-6">About</h2>
<section class="container mx-auto mt-16 mb-32 p-4 bg-black border-white border-t-2 border-b-2">
    <img src="{% static 'images/bren.jpg' %}" alt="Brenden headshot" class="flex mx-auto my-auto rounded-full mt-8 w-36 expand-on-hover">
    <h2 class="text-2xl font-semibold text-center mt-8 text-white">Hi, I'm Brenden</h2>
    <div class="w-1/2 h-auto mx-auto">
        <p class="text-white text-center pt-6">
            I'm a full-stack developer located in Washington state, with a wide background of frameworks and languages.
            Creativity has always been something that comes naturally to me. I have always loved to create and build things
            even from a young age, and software development is the perfect place to put my creativity and design skills to
            use.
        </p>
        <p class="text-white text-center pt-6">
            When I graduated from high school in 2021, I didn't know what to do with my life.
            I decided to take a gap year and work in retail to save my money. Along the way I bought my first car, received
            a promotion, and saved up as much money as I could for school. I heard about Code Fellows Bootcamp through one
            of my friends, and at first I was skeptical. Though I had always been interested in tech, so I decided to give
            it a try.
        </p>
        <p class="text-white text-center pt-6">
            Immediately I clicked with code. I worked my way up from working with HTML and CSS to make basic static sites
            off of Github, to creating full-stack web applications in a little over a year. Code is the perfect place I can
            show off my creativity and design skills, creating software that is easy to use and functional is one of my many
            passions.
        </p>
        <p class="text-white text-center pt-6">
            When I'm not coding, I am probably gaming, listening to music, or skateboarding (when its nice out). Some of my
            favorite games include Resident Evil, Spider-man 2, MGS5, Sifu and Dying light. I'm also a huge fan of anime and
            comics, I have a big collection of Spider-man comics and various manga series like Chainsaw Man, One Punch Man,
            Blood Lad and Soul Eater.
        </p>
        <p class="text-white text-center pt-6 mb-6">
            Click to view my projects <a href="#projects" class="text-white bg-black hover:bg-gray-800 border-2 border-white focus:ring-2 rounded-2xl p-2"> ↓ </a>
        </p>
    </div>
</section>


<!--projects-->
<section class="container mx-auto mt-24 mb-24 p-4 bg-black">
    <h2 id="projects" class="text-2xl font-semibold text-center underline mb-24 text-white pt-6">Projects</h2>

    <div class="flex mb-12">

    <!-- Div left VVT -->
        <div class="flex flex-col justify-center w-1/2 p-4">
            <h3 class="text-3xl font-bold text-white text-center mb-4">Viper's Venom Tavern</h3>
            <p class="text-white mb-4 text-center">
                Viper's Venom Tavern, the number one place to buy, sell and trade cards! VVT for short is a E-commerce website
                made card players looking to expand or sell their collection. User's create an account with a username, email
                and password. From there you can browse the store, put up your own cards for sale, and view the about page.
                VVT is still a work in progress, with new features being implemented and reworked.
            </p>
            <p class="text-white mb-4 text-center">
                Full stack web application made with Next.Js and Django Rest framework, styled using Tailwind css, CRUD database
                using Postgres, and deployed with Netlify.
            </p>
            <div class="flex justify-center">
                <div class="flex justify-evenly bg-white rounded mb-4 w-3/4 h-auto">
                    <i class="ci ci-python ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-nextjs ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-django ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-tailwind ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-postgres ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-netlify ci-4x bg-white rounded-lg p-2"></i>
                </div>
            </div>
            <p class="text-white text-center">Check out the | <a href="https://vipers-venom-tavern-frontend.vercel.app/" class="text-blue-400 underline hover:text-blue-500">Website</a>
            | and | <a href="https://github.com/401-Slytherin" class="text-blue-400 underline hover:text-blue-500">GitHub</a> |</p>

        </div>
    <!-- Gallery right VVT -->
        <div id="custom-controls-gallery" class="relative w-1/2" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/vvt1.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 1">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/vvt2.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 2">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/vvt3.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 3">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/vvt4.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 4">
                </div>
            </div>
            <!-- Buttons -->
            <div class="flex justify-center items-center pt-4">
                <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="text-gray-400 hover:text-gray-900 group-focus:text-gray-900">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="text-gray-400 hover:text-gray-900 group-focus:text-gray-900">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>

    </div>


    <div class="flex">
    <!-- Gallery left Text_Adventure -->
        <div id="custom-controls-gallery" class="relative w-1/2" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/txt_adv_1.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 1">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/txt_adv_2.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 2">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/txt_adv_3.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 3">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-1000 ease-in-out" data-carousel-item data-carousel-time="7000">
                    <img src="{% static 'images/txt_adv_4.png' %}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="text adventure screenshot 4">
                </div>
            </div>
            <!-- Buttons -->
            <div class="flex justify-center items-center pt-4">
                <button type="button" class="flex justify-center items-center mr-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="text-gray-400 hover:text-gray-900 group-focus:text-gray-900">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="flex justify-center items-center h-full cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="text-gray-400 hover:text-gray-900 group-focus:text-gray-900">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>

        <!-- Div right Text_Adventure -->
        <div class="flex flex-col justify-center w-1/2 p-4">
            <h3 class="text-3xl font-bold text-white text-center mb-4">Text Adventure</h3>
            <p class="text-white mb-4 text-center">
                Text Adventure is a throw back to old school text games from the 70's. Take on the role of an adventurer
                searching for the mystical Idol of Power! In this game, user's must manage their health and stamina while
                traversing through the many environments to find the Idol. Solve puzzles, fight creatures, and make it out
                alive! Each play through will be unique, as each environment has different scenarios that could play out.
                Do you have what it takes to survive the dangerous jungle of Anradesha?
            </p>
            <p class="text-white mb-4 text-center">
                Command line text game programmed using Python and styled using rich.
            </p>
            <div class="flex justify-center">
                <div class="flex justify-evenly bg-white rounded mb-4 w-3/4 h-auto">
                    <i class="ci ci-python ci-4x bg-white rounded-lg p-2"></i>
                    <i class="ci ci-css3 ci-4x bg-white rounded-lg p-2"></i>
                </div>
            </div>
            <p class="text-white text-center">Check out the GitHub repo | <a href="https://github.com/The-Commanders/Text_Adventure" class="text-blue-400 underline hover:text-blue-500">Here</a> |</p>
        </div>
    </div>

</section>


<!--experience-->
<section class="container mx-auto mt-24 mb-24 p-4 bg-black">
    <h2 id="experience" class="text-2xl font-semibold text-center underline mb-24 text-white pt-6">Experience</h2>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-5 mb-20">
        <!-- Layer 1: Top Row -->
        <div class="text-center mb-4">
            <i class="ci ci-python ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Python</p>
        </div>

        <div class="text-center mb-4">
            <img src="{% static 'images/js.png' %}" alt="Javascript logo" class="w-16 h-16 mx-auto bg-white rounded-lg p-2 expand-on-hover">
            <p class="mt-2 text-white">JavaScript</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-html5 ci-4x bg-white rounded-lg p-2 expand-on-hover expand-on-hover"></i>
            <p class="mt-2 text-white">HTML5</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-css3 ci-4x bg-white rounded-lg p-2 expand-on-hover expand-on-hover"></i>
            <p class="mt-2 text-white">CSS3</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-reactjs ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">ReactJS</p>
        </div>

        <!-- Layer 2: Middle Row -->
        <div class="text-center mb-4">
            <i class="ci ci-nextjs ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Next.js</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-node ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Node.js</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-django ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Django</p>
        </div>

        <div class="text-center mb-4">
            <img src="{% static 'images/github.png' %}" alt="Github logo" class="w-18 h-16 mx-auto bg-white rounded-lg p-2 expand-on-hover">
            <p class="mt-2 text-white">Github</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-git ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Git</p>
        </div>

        <!-- Layer 3: Bottom row -->
        <div class="text-center mb-4">
            <i class="ci ci-vercel ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Vercel</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-netlify ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Netlify</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-postgres ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Postgres</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-figma ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Figma</p>
        </div>

        <div class="text-center mb-4">
            <i class="ci ci-tailwind ci-4x bg-white rounded-lg p-2 expand-on-hover"></i>
            <p class="mt-2 text-white">Tailwind</p>
        </div>
<!-- write jupyter notebooks here too -->
    </div>
    <!-- Resume link -->
    <p class="text-white mb-4 text-center">
        Check out my full resume | <a href="{% static 'Brenden Moore - Resume.pdf' %}" class="text-blue-400 underline hover:text-blue-500">here</a> |
    </p>
</section>


<!--contact-->
<section class="container mx-auto mt-24 mb-24 p-4 bg-black">
    <h2 id="contact" class="text-2xl font-semibold text-center underline mb-8 text-white pt-6">Contact</h2>
    <div class="flex justify-evenly mb-6">
        <h3 class="text-xl font-semibold text-white mx-auto">Reach out!</h3>
        <h3 class="text-xl font-semibold text-white mx-auto">Where to find me...</h3>
    </div>

    <div class="flex mb-8">

        <div class="w-1/2 pr-4">
            <label for="name" class="block mb-2 text-sm font-medium text-white">Your Name</label>
            <textarea id="name" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Name..."></textarea>

            <label for="email" class="block mt-4 mb-2 text-sm font-medium text-white">Your Email</label>
            <textarea id="email" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Email..."></textarea>

            <label for="message" class="block mt-4 mb-2 text-sm font-medium text-white">Your Message</label>
            <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Message..."></textarea>
        </div>

        <div class="w-1/2 pl-4 flex justify-center">
            <div class="flex flex-col items-center mb-2 md:mb-0 md:mr-8">
                <a href="https://www.linkedin.com/in/brenden-moore2023/" class="expand-on-hover inline-block" title="LinkedIn Profile">
                    <i class="ci ci-linkedin ci-3x mb-4"></i>
                </a>
                <a href="https://github.com/Brendeen" class="expand-on-hover inline-block" title="GitHub Profile">
                    <img src="{% static 'images/github.png' %}" alt="Github logo" class="w-16 h-16 rounded-full mb-4">
                </a>
                <a href="https://www.instagram.com/brenden._.moore/" class="expand-on-hover inline-block" title="Instagram">
                    <i class="ci ci-instagram ci-3x mb-4"></i>
                </a>
                <a href="https://discord.gg/your-server" class="expand-on-hover inline-block" title="Discord Server">
                    <i class="ci ci-discord ci-3x mb-4"></i>
                </a>
                <a href="https://open.spotify.com/user/brendenm3603" class="expand-on-hover">
                    <i class="ci ci-spotify ci-3x mb-4"></i>
                </a>
            </div>
            <div class="flex rounded w-1/2">
                <img src="{% static 'images/brenden.jpg' %}" alt="Brenden headshot">
            </div>
        </div>



    </div>
</section>



<!--footer-->
<footer class="bg-black text-white py-4 bt-white border-t-2">
    <div class="container mx-auto flex justify-between items-center">
        <p class="text-white">&copy; 2023 Brenden's Portfolio</p>
        <a href="#top" class="text-white bg-black hover:bg-gray-800 border-2 border-white focus:ring-2 rounded-2xl p-2">
            Back to top
        </a>
    </div>
</footer>



<!--credit too https://github.com/dheereshagrwal/colored-icons for icons-->


{% block content %}
{% endblock content %}

</body>
</html>